<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Learning Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='background.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Dance Learning Application!</h1>
        <button class="button" onclick="transitionToPage('/menu')">Start Learning</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
